<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Job Position</title>
</head>
<body>
    <div align="center">
        <h1>Create New Job Position</h1>
        <br />
        <form action="#" th:action="@{'/hr/save_vacancy/'+ ${id}}" th:object="${job}" method="post">
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>Job Title:</td>
                    <td><input type="text" th:field="*{jobTitle}" /></td>
                 </tr>
                 <tr>
                    <td>Job Date:</td>
                    <td><input type="text" th:field="*{datePosted}" readonly="readonly"/></td>
                 </tr>
                 <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>