<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Details</title>
</head>
<body>
</form>
	 	<form th:action="@{/back}" method="post">
		<input type="submit" value="Back" />
	 	</form>
	<div align="center">
		<h1>Check Availability</h1>
		<br/>
		
		<!-- <div >Interviewer Id</div> -->
		
		<form action="#" th:action="@{'/hr/availability/'+${eId}+'/'+${iId}}" th:object="${interviewer}" method="post" >
			<table border="0" cellpadding="10">	
				<tr>
					<td>Date</td>
					<td><input type="datetime-local" th:name="date" th:value=${date} required/></td>
				</tr>
				<tr>
					<td>Duration</td>
					<td><input type="number" th:name="duration" th:value=${duration} required/></td>
				</tr>
			
				<tr>
					<td colspan="2"><button type="submit">Check</button></td>
				</tr>
				<tr>
				<td> <div th:text="${message}"></div>
				</td>
				<td>
    <span th:if="${message == 'Available'}"><a th:href="@{'/hr/scheduleround/'+${eId}+'/'+${iId}+'/'+${date}+'/'+${duration}}" >Schedule</a></span>
				</td>
				</tr>
			</table>
		</form>
		
	</div>
	
	
</body>
</html>