<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Rating</title>
</head>
<body>
    <div align="center">
        <h1>Fill Ratings</h1>
        <br />
        <form action="#" th:action="@{'/interviewer/save_rating/'+${rnd.roundId}}" th:object="${rnd}"
            method="post">
            <table border="0" cellpadding="10">
           		<tr>
                    <td>Rating:</td>
                    <td><input type="text" pattern="[0-4].[0-9]" th:field="*{rating}"/></td>
                </tr> 
                <tr>
                    <td>Feedback:</td>
                    <td><input type="text"  th:field="*{feedback}" /></td>
                </tr>                           
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>