<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
<head>
<style>

tr:nth-child(even) {background-color: #f2f2f2;}

</style>
<meta charset="ISO-8859-1">
<title>Current Employees</title>
</head>
<body>

<div align="center", sec:authorize="isAuthenticated()">
		Welcome <b><span sec:authentication="name">Employeename</span></b>
		&nbsp;
		<i><span sec:authentication="principal.authorities">Roles</span></i>
		<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	 	</form>
	 	<form th:action="@{/back}" method="post">
		<input type="submit" value="Back" />
	 	</form>
</div>


<div align="center">
    <h1>Current Employees</h1>
    <br/><br/>
    <a href="/admin/roles">add new Employees</a>
    <br><br>
    <table cellpadding="20" style="width:800px">
        <thead>
            <tr style="background-color:rgb(150,150,150)">
                <th>Name</th>
                <th>Email ID</th>
                <th>Phone no</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="listEmpl : ${empl}">
                <td th:text="${listEmpl.employeename}">Name</td>
                <td th:text="${listEmpl.emailid}">Email Id</td>
                <td th:text="${listEmpl.phonenumber}">Phone no</td>
                <td>
                     <a th:href="@{'/admin/delete/' + ${listEmpl.id}}">Delete</a>
               </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>