<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Interviewee Manager</title>
</head>
<body>
<div align="center">
	
	<h1>Interviewee Manager</h1>
	<div>
		<a href="/">Home Page</a>
	</div>
	
	<br/><br/>
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>Interviewee ID</th>
				<th>Name</th>
				<th>Phone Number</th>
				<th>Email Address</th>
				<th>Experience in Years</th>
				<th>Resume</th>		
				<th>Actions</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="interviewee : ${listInterviewees}">
				<td th:text="${interviewee.id}">Interviewee ID</td>
				<td th:text="${interviewee.intervieweeName}">Name</td>
				<td th:text="${interviewee.intervieweePhoneNumber}">Phone Number</td>
				<td th:text="${interviewee.intervieweeMail}">Email Address</td>
				<td th:text="${interviewee.yearsOfExperience}">Experience in Years</td>
				<td> <a th:href="@{'/downloadFile/'+${interviewee.id}}">Download</a> </td>
				<td>
					<a th:href="@{'/editinterviewee/' + ${interviewee.id}}">Edit</a>			
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a th:href="@{'/deleteinterviewee/' + ${interviewee.id}}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>