<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>New Application</title>
</head>
<body>
	<div align="center">	
		<h1>Fill Job Application</h1>
		<br/>
		<form action="#" th:action="@{'/interviewee/saveinterviewee/'+${job_id}}" th:object="${interviewee}" method="post" encType="multipart/form-data">
			<table border="0" cellpadding="10">
				<tr>
					<td>Interviewee Name:</td>
					<td><input type="text" th:field="*{intervieweeName}" required/></td>
				</tr>
				<tr>
					<td>Phone Number (10 digit)</td>
					<td><input type="tel" pattern="[0-9]{10}" th:field="*{intervieweePhoneNumber}" required/></td>
				</tr>				
				<tr>
					<td>Email Address</td>
					<td><input type="email" th:field="*{intervieweeMail}" required/></td>
				</tr>				
				<tr>
					<td>Experience in Years</td>
					<td><input type="number" th:field="*{yearsOfExperience}" required/></td>
				</tr>	
				<tr>
					<td><input type="file" name="file" accept="application/pdf" required/></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Submit</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>